:host {
    .main-wrapper {
      padding-bottom: 12px;
      padding-left: 84.62px;
      img {
        object-fit: cover;
        border-radius: 6px;
        max-height: 420px;
        margin-block: 8px;
        height: 100%;
        width: 100%;
      }
      .filter-wrapper {
        margin-bottom: 10px;
      }
    }
  }
  